@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* variables.css */
:root {
  --primary-color: #7152f3; /* Define your color variable */
  --primary-color-hover:  #3510d1;

  --font-family: "Open Sans", sans-serif;
  --font-weight: 300;
  --font-style: normal;
  --font-variation-settings: "wdth" 100;
  --font-color: #16151c;
}

body {
  font-family: var(--font-family) !important;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-variation-settings: var(--font-variation-settings);
  color: var(--font-color);
}

header {
  width: 82% !important;
  margin-left: 17%;
  /* box-shadow: none !important; */
}

/* styles.css */
.container {
  display: flex !important;
  justify-content: space-between; /* Space out left and right divs */
  align-items: center; /* Align items vertically in the center */
  padding: 10px; /* Optional padding */
}

.space {
  flex: 5; /* This will take up the remaining space */
}

.css-4buuoc {
  margin: 0 0 0 290px;
  background-color: #fff;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

/*All Button Color*/
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: var(--primary-color) !important;
}
